<div ng-include src="'layout/offlineHeader.html'"></div> 
<div class="container pp-box" ng-controller="changePasswordCtrl">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0" ><h1>Reset your PutPeace Password</h1>
                    <p>{{changePasswordMessage}}</p>
<form id="changePassword" ng-show="changePassForm"  noValidate>
     <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
          <input type="password" class="form-control" ng-model="password" name="password" placeholder="Create New Password"  ng-minlength="3" required>
          <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
      </div>
	 <input class="btn"  type="submit" ng-disabled="changePasswordForm.$invalid" ng-click="changePasswordSubmit()" value="Submit"/>
			</form> 
                </div>
            </div>
        </div>
    </div>
</div>

