 <div ng-include src="'layout/offlineHeader.html'"></div> 
<div class="container pp-box" ng-controller="forgotPasswordCtrl">

                <div class="textCenter" ><h1>Reset your PutPeace Password</h1>
                   <!-- <p>{{forgotPasswordMessage}}</p> -->
<form id="forgotPassword" ng-show="forgotPassForm"  noValidate>
      <div  ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine }">
          
        <md-input-container>
          <label>Email</label>
          <input ng-model="email">
        </md-input-container>
          <p ng-show="forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine" class="help-block">Enter a valid email</p>
      </div>
     <md-button class="md-raised md-primary"  ng-click="forgotPasswordSubmit()">Submit</md-button>
			</form> 
                </div>
</div>

