html,body{
	background: #E0F2F1;
	height:100%;
	font-family: 'Roboto', sans-serif;
}



md-toolbar{

	width: 100%;
	position: fixed;
	
}

md-card{
	
}

.card{
	margin-bottom: 20px;
}

.cardcontainer{
	width: 90%;
}

.cost{
	width: 87%;
	margin: 0 auto;
	background: #009688;
	opacity: 0.8;
	text-align: center;
	height: 30px;
	vertical-align: center;
	line-height: 30px;
	color: white;
	position: absolute;
	bottom: 16px;
}

.pos{
	display: block;
}

.description{
	 font-size:18px;
	 color:grey;
	 
}


.ul{
    width: 20%;
    height: 100%;
    background-color: #009688;
    position: fixed;
}

.putdes{
	position:fixed;
	z-index: 10;
	top: 80px;
	text-align: justify;
	color: white;
	width: 18%;
	left: 1%;
}

.loremtext{
	font-size: 14px;
	position: relative;
}

.cardtitle{
	font-size:26px;
	text-align: center;
}

hr{
	border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}






@media only screen and (max-width: 935px) {
    .cardtitle{
		font-size:20px;
		text-align: center;
	}

	.description{
	 	font-size:15px;
	 
	}

	.cost{
		bottom: 2%;
		height: 24px;
		line-height: 24px;
		font-size:16px;
	}

}



@media only screen and (max-width: 900px) {
    .cardtitle{
		font-size:20px;
		text-align: center;
	}

	.description{
	 	font-size:15px;
	 
	}

	.cost{
		bottom: 2%;
		height: 24px;
		line-height: 24px;
		font-size:16px;
	}

}



@media only screen and (max-width: 768px) {
    .cardtitle{
		font-size:18px;
		text-align: center;
	}

	.description{
	 	font-size:14px;
	 
	}

	.cost{
		bottom: 3%;
		height: 22px;
		line-height: 22px;
		font-size:16px;
	}

}





@media only screen and (max-width: 599px) {
    .cardtitle{
		font-size:16px;
		text-align: center;
	}

	.description{
	 	font-size:12px;
	 
	}

	.cost{
		bottom: 3%;
		height: 19px;
		line-height: 19px;
	}

}





@media only screen and (max-width: 490px) {
    .cardtitle{
		font-size:16px;
		text-align: center;
	}

	.description{
	 	font-size:10px;
	 
	}

	.cost{
		bottom: 3.97%;
		height: 19px;
		line-height: 19px;
	}

}



@media only screen and (max-width: 425px) {
    .cardtitle{
		font-size:9.5px;
		text-align: center;
	}

	.description{
	 	font-size:9px;
	 
	}

	.cost{
		bottom: 3.97%;
		height: 19px;
		line-height: 19px;
	}

}





@media only screen and (max-width: 325px) {
    .cardtitle{
		font-size:9.5px;
		text-align: center;
	}

	.description{
	 	font-size:9px;
	 
	}

	.cost{
		bottom: 4.9%;
		height: 19px;
		line-height: 19px;
	}

}





.costbtn{

}