<!--
<div id="footer" class="container" ng-controller="footerCtrl">
<hr class="darkhr">
<span class="fontSize20">For any help, Please mail at <a href="mailto:team@putpeace.com?Subject=PutPeace%20Help" target="_blank"> team@putpeace.com</a></span>


<!-- Comment box Design
<div class="row" id="feedBox" style="zoom: 1.2;" ng-show="showFeedback">
 <div class="col-md-8 col-sm-12 col-lg-8">
   <textarea placeholder="Suggestions, complaints, compliments, we are listening" class="form-control txtArea" style="width: 100%;font-size: 18px;"></textarea>
<hr>
  </div>

<div class="col-md-4">
<button type="button" class="btn blueBtn  ng-binding">
            <span ng-show="pageState==1" id="printIcon"></span>Submit           
            </button>
  
<button type="button" class="btn   ng-binding" ng-click="showFeedback=false">
            <span ng-show="pageState==1" id="printIcon"></span>Cancel           
            </button>
</div>
</div>

<a class="cursorPointer" ng-click="feedback()">Give Feedback</a> -->
<!--
<br><br>
</div>
-->