<div class="down30"></div>
<div class="list-group col-md-25p">
    <div class="settingsNav">
      <a href="#/profile" active-link="active" class="list-group-item"><i class="fa fa-user fa-fw fa-lg"></i>  {{checkNow}}  Profile</a>
      <a href="#/makePayment" active-link="active" class="list-group-item"><i class="fa fa-money fa-fw fa-lg sj-font"></i>    Recharge Wallet</a>
      <a href="#/orderHistory" active-link="active" class="list-group-item"><i class="fa fa-history fa-fw fa-lg"></i>    Order History</a>
    </div>
  </div> 