<div ng-include src="'layout/offlineHeader.html'"></div> 
  <div class="container">
  <h1>About Us</h1>
  <p>At Putpeace, We love making things easy and simple. That’s why we strive to simplify the tedious process of your printing work so that you can focus on things that matter. By leveraging technology, we provide next generation printing solutions that are time saving, cost effective, and convenient.Putpeace enables you to print over internet that ensures hassle free printing by eliminating need for pen drives, by offering freedom of printing from anywhere at any time.</p>
  <p>Vision: We endeavor to transform the way the printing is done to make it – easy, affordable and enjoyable experience.</p>
  <h1>Contact Us</h1>
  <p>You can mail us at <a href="mailto:madhu@kroodstech.com">madhu@kroodstech.com</a></p>
  <p>We are operating at KROODS TECHNOLOGIES PVT. LTD, CLASSIC TOWERS,  VEMALIYAMMAN KOIL STREET, OPPO TO HINDUSTAN UNIVERSITY,
PADUR, CHENNAI- 603103 Ph: 74189-91535</p>
</div>
  