<div ng-include src="'layout/offlineHeader.html'"></div> 
  <div class="container">
  <h1>Pricing Policy</h1>
  <p>Pricing per side of a page costs 0.5 INR. Minimum transaction cost is 1 INR.</p>
  
<h1>Price Range</h1>
<p>
At Kroods Technologies Pvt Ltd. we have customised pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically the range of transactions on our website varies from INR 1 to 500.</p>

<h1>Schedule of payment</h1>
<p>Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year. </p>

<h1>Price Matching</h1>
<p>At Kroods Technologies Pvt Ltd. we are committed to offering you the best possible prices. We will be glad to meet our competitor's pricing if you ever find an item that we offer, in the same color and size, available from a similar retailer.</p>

<p>We are unable to match prices from auction and outlet stores or websites, as well as other retailers' discount promotions, shipping offers and gift card offers.</p>

<h1>Sale Adjustment</h1>
<p>If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded.</p>

<h1>Pricing Errors</h1>
<p>We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an item's price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.</p>

<h1>Shopping Cart</h1>
<p>Items in your Shopping Cart reflect the current price displayed on the item's product details page. Please note: This price may differ from the price displayed when the item was first placed in your Shopping Cart.</p>

<p>Our merchandise/service is offered for sale by Kroods Technologies Pvt Ltd. for your personal enjoyment and not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe may be purchasing for resale.</p>

<p>Our Customer Service Specialists are ready to assist you—simply call +91 74189-91535  24 hours a day.</p>


</div>
  

