<div ng-include src="'layout/offlineHeader.html'"></div> 
  <div class="container">
  <h1>Refund policy</h1>
  <p>1. Refunds are made at the sole discretion of Kroods Technologies Private Ltd., (hereinafter referred as “Putpeace” or as “Us”) only.</p>
  <p>2. Refunds, if applicable, shall be made only to the netbanking account/debit/credit card used for the original transaction. For the avoidance of doubt nothing in this Policy shall require us to refund the Fees (or part thereof) unless such Fees (or part thereof) have previously been credited to the Putpeace account.</p>
</div>
  